{% extends 'glitter_cms/global_header.html' %}
{% load staticfiles %}

{% block head_block %}
    <title>Login</title>
{% endblock %}


{% block body_block %}

<div class="jumbotron">
    <h2>See what's happening in University right now</h2>
</div>
<form class="form-signin" role="form" method="post" action="{% url 'login' %}">
    {% csrf_token %}

    <h2 class="form-signin-heading">Please sign in</h2>

    <label for="inputUsername" class="sr-only">Username</label>
    <input type="text" name="username" id="id_username" class="form-control"
            placeholder="Username" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="id_password" class="form-control"
            placeholder="Password" required>
    <div>
        <button class="btn btn-lg btn-primary btn-block" type="submit"
            value="Submit" />Sign in</button>
    </div>
    {% if messages %}
        <div class="messages">
            {% for msg in messages %}
                <div class="alert alert-{{msg.level_tag}}" role="alert">
                    {{msg.message}}
                </div>
            {% endfor %}
        </div>
    {% endif %}

</form>
{% endblock %}




