<!DOCTYPE html>

<html>
<head>
    {% include 'glitter_cms/static_assets.html' %}

    <title>Viewing user: </title>
</head>

<body>
    <main role="main" class="container">

        <!-- TODO: Replace with nav bar and sidebar -->
        <div class="row"><div class="col-md-12"><p></p></div></div>

        <!-- First row -->
        <div class="row">
            <div class="col-md-3"><p></p></div>

            <div class="col-md-7">

            </div>
        </div>

        <!-- Next row -->
        <div class="row top-margin-large">
            <div class="col-md-3"><p></p></div>

            <div class="col-md-7">

            </div>
        </div>

    </main><!-- /.container -->
</body>

<script type="text/javascript">
    $('document').ready(function(){

    });
</script>

</html>