{% extends "glitter_cms/global_header.html" %}
{% load staticfiles %}

{% block head_block %}
    <title>{{ user_data.username }}</title>
{% endblock %}

{% block body_block %}
    <div class="container">

        <!-- First row -->
        <div class="row">

            <div class="col"></div>

            <div class="col-8" id="central_feed">
                <div class="post single_post">
                    <p><strong>{{ user_data.username }}</strong></p>
                    <p>Email: {{ user_data.email }}</p>
                    <p>Student ID: {{ user_data.profile.student_id }}</p>
                    <a href="{% url 'results_page' %}?u={{ user_data.id }}" class="user_badge"><span class="badge">{{ post_count }} Posts</span></a>
                    <a href="{% url 'results_page' %}?u={{ user_data.id }}" class="user_badge"><span class="badge">{{ comment_count }} Replies</span></a>

                </div>

            </div>

            <div class="col"></div>
        </div>

    </div>

    <script type="text/javascript">
        $('document').ready(function(){
    
        });
    </script>
{% endblock %}


