{% extends "glitter_cms/base.html" %}
{% load staticfiles %}
{% block body_block %}

    <main role="main" class="container">

        <!-- TODO: Replace with nav bar and sidebar -->
        <div class="row top-margin-180"><div class="col-md-12"><p></p></div></div>

        <!-- First row -->
        <div class="row">

            User name: {{ user_data.username }}
            <br>
            User email: {{ user_data.email }}
            <br>
            User Student ID: {{ user_data.profile.student_id }}

        </div>

        <!-- Next row -->
        <div class="row top-margin-large">

            <a href="{% url 'results_page' %}?u={{ user_data.id }}">View All Posts</a>

        </div>

    </main><!-- /.container -->
{% endblock %}

<script type="text/javascript">
    $('document').ready(function(){

    });
</script>

</html>