{% load staticfiles %}
{% include 'glitter_cms/static_assets.html' %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static "images/log.ico" %}">

    {% block head_block %}
    {% endblock %}

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #003865 !important">
        <a class="navbar-brand" href="/glitter_cms">Glitter</a>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            
            <ul class="navbar-nav mr-auto">
            {% if user.is_authenticated %}

                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'private_user_profile' %}">User Profile</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'password_change' %}">Change Password</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
    
        
            {% else %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>

            {% endif %}
            </ul>

        </div>
    </nav>
       
    {% block body_block %}
    {% endblock %}
    
</body>