{% extends 'glitter_cms/global_header.html' %}
{% load staticfiles %}

{% block head_block %}
    <title>Feed</title>
{% endblock %}

{% block body_block %}

    <div class="jumbotron">
        <h2>See what's happening at University right now!</h2>
    </div>

    <div class="container">
        <div class="row" style="padding: 1em">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-1"></div>
                    <div class="col-4">
                        <a href="create_post" class="create_post btn btn-primary btn-block"><i class="fas fa-pencil-alt"></i> Create Post</i></a>
                    </div>
                    <div class="col-2"></div>
                    <div class="col-4">
                        <a href="search" class="create_post btn btn-primary btn-block"><i class="fas fa-search"></i> Search</i></a>
                    </div>
                    <div class="col-1"></div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col">
            </div>
            <div class="col-8" id="central_feed">

            {% if posts %}

                {% for post in posts  %}
                    <div class="card post">
                        <div class="card-header" style="background-color: {{ post.category.colour }}">
                            <div class="container">
                                <div class="row justify-content-between">
                                    <div class="col-8 post_title">

                                        <a href="{% url 'view_post' post.id %}"  class="post_title_link"><h6>{{ post.title }}</h6></a>



                                    </div>
                                    <div class="col-4 user_name">
                                        <a href="{% url 'public_user_profile' post.user.id %}" class="post_title_link">{{ post.user.username }} <i class="far fa-user-circle"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{ post.body }}</p>
                            <a href="{% url 'like_post' post.id %}" class="card-link like_icon"><i class="fas fa-thumbs-up"></i> {{ post.likes_count }}</a> &nbsp <i class="fas fa-comment comment_icon"></i> <p class="comment_icon inline_stuff">{{ post.reply_count }}</p>
                        </div>
                    </div>
                {% endfor %}

            {% else %}
                <strong>There are no posts present.</strong>
            {% endif %}

            </div>
            <div class="col">
            </div>
        </div>
    </div>

    <script>
    $('.dropdown-toggle').dropdown()
    </script>

{% endblock %}
