{% extends 'glitter_cms/global_header.html' %}
{% load staticfiles %}

{% block head_block %}
    <title>Update Comment</title>
{% endblock %}

{% block body_block %}
    <div class="container">
        <div class="row">
            <div class="col">
                <form class="reply" method="post" action="/glitter_cms/view_post/{{ post }}/add_comment/">
                    {% csrf_token %}
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    {% for field in form.visible_fields %}
                        <div class="reply">
                            {{ field }}
                        </div>
                    {% endfor %}
                    <button type="button submit" id="reply_submit" class="reply btn">Update</button>
                </form>

            </div>
        </div>
    </div>

{% endblock %}