{% extends 'glitter_cms/global_header.html' %}
{% block head_block %}
    <title>View Post</title>
{% endblock %}

{% block body_block %}
    <div class="container">

        <div class="row">

            <div class="col">
            </div>

            <div class="col-8" id="central_feed">

                {% if post %}

                    <div class="post single_post">
                       <div class="row justify-content-between post_title_row">
                            <div class="col-8 post_title">
                                <h2>{{ post.title }}</h2>
                            </div>
                            <div class="col-4 user_name">
                                <h4>{{ post.user.name }} <i class="far fa-user-circle"></i></h4>
                            </div>
                        </div>

                        <p class="post_view_body"> {{ post.body }}</p>
                        <a href="{% url 'like_post' post.id %}" class="card-link like_icon"><i class="fas fa-thumbs-up"></i> {{ post.likes_count }}</a>

                        <a href="delete_post" class="del btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                        <a href="{% url 'update_post' post.id %}" class="del update_post btn btn-info"><i class="fas fa-pencil-alt"></i></a>
                    </div>

                    {% if comments %}

                        {% for comment in comments %}

                            <div class="comment">
                                <p><i class="fas fa-angle-right"></i> {{ comment.body }}</p>
                                <a href="{% url 'like_comment' post.id comment.id%}" class="card-link like_icon"><i class="fas fa-thumbs-up"></i> {{ comment.likes_count }}</a> &nbsp
                                <a href="{% url 'update_comment' post.id comment.id%}" class="update text-info"><i class="fas fa-pencil-alt"></i></a> &nbsp
                                <a href="{% url 'delete_comment' post.id comment.id%}" class="del_comment text-danger"><i class="fas fa-trash-alt"></i></a>
                            </div>

                        {% endfor %}

                    {% else %}
                        <div class="comment">
                            <p><i class="fas fa-angle-right"></i> No comments yet!</p>
                        </div>
                     {% endif %}

                    <form class="reply" method="post" action="/glitter_cms/view_post/{{ post.id }}/add_comment/">
                        {% csrf_token %}
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                        {% for field in form.visible_fields %}
                            <div class="reply">
                                {{ field }}
                            </div>
                        {% endfor %}
                        <button type="button submit" id="reply_submit" class="reply btn">Reply</button>
                    </form>

                {%  else %}
                    <div class="post_title doesnt_exist">
                        <h2>Post does not exist!</h2>
                    </div>
                {% endif %}

            </div>

            <div class="col">
            </div>

        </div>
    </div>

{% endblock %}