<!DOCTYPE html>

<html>
<head>
    {% include 'glitter_cms/static_assets.html' %}
    {% include 'glitter_cms/global_header.html' %}

    <title>View Post</title>
</head>

<body>
    <div class="container">

        <div class="row">

            <div class="col">
            </div>

            <div class="col-8" id="central_feed">

                {% if post %}

                    <div class="post single_post">
                       <div class="row justify-content-between post_title_row">
                            <div class="col-8 post_title">
                                <h2>{{ post.title }}</h2>
                            </div>
                            <div class="col-4 user_name">
                                <h4>{{ post.user.name }} <i class="far fa-user-circle"></i></h4>
                            </div>
                        </div>

                        <p class="post_view_body"> {{ post.body }}</p>
                        <a href="#" class="card-link like_icon"><i class="fas fa-thumbs-up"></i> {{ post.likes_count }}</a>
                    </div>

                    {% if comments %}

                        {% for comment in comments %}

                            <div class="comment">
                                <p><i class="fas fa-angle-right"></i> {{ comment.body }}</p>
                                <a href="#" class="card-link like_icon"><i class="fas fa-thumbs-up"></i> {{ comment.likes_count }}</a>
                            </div>

                        {% endfor %}

                    {% else %}
                        <div class="comment">
                            <p><i class="fas fa-angle-right"></i> No comments yet!</p>
                        </div>
                     {% endif %}

                    <form class="reply" method="post" action="/glitter_cms/view_post/{{ post.id }}/add_comment/">
                        {% csrf_token %}
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                        {% for field in form.visible_fields %}
                            <div class="reply">
                                {{ field }}
                            </div>
                        {% endfor %}
                        <button type="button submit" id="reply_submit" class="btn">Reply</button>
                    </form>

                {%  else %}
                    <div class="post_title doesnt_exist">
                        <h2>Post does not exist!</h2>
                    </div>
                {% endif %}

            </div>

            <div class="col">
            </div>

        </div>
    </div>

</body>

</html>